/* Light Theme */
body.light {
  background: #f2f2f2;
  color: #222;
}

/* Dark Theme */
body.dark {
  background: #121212;
  color: #f5f5f5;
}

/* Make table, box, login adapt */
.page-container,
.login-box,
.todo-table,
.contact-box {
  transition: 0.3s;
}

/* For dark mode specific UI elements */
body.dark .login-box,
body.dark .page-container,
body.dark .todo-table {
  background: #1e1e1e;
  color: #fff;
}

body.dark a {
  color: #87cefa;
}
